/**
* Header
*/
@header-background-color: white;
@header-title-color: #fff;
@header-text-color: black;
@header-arrow-color: #595656;

/**
* search
*/
@search-cancel-font-color: #4a80ff;
@search-bg-color: white;
@search-placeholder-font-color: #9B9B9B;