@font-face {
  font-family: 'iconfont';  /* project id 396766 */
  src: url('//at.alicdn.com/t/font_396766_90lc9kdssm6g8pvi.eot');
  src: url('//at.alicdn.com/t/font_396766_90lc9kdssm6g8pvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_396766_90lc9kdssm6g8pvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_396766_90lc9kdssm6g8pvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_396766_90lc9kdssm6g8pvi.svg#iconfont') format('svg');
}
  .iconfont{
    font-family:"iconfont" !important;
    font-size:48px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #8d8d8d;
}